<nav class="navbar navbar-expand-lg mb-4" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TODO APP</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <% if (notLoggedIn) { %>
        <a class="nav-link" href="/register">Register</a>
        <a class="nav-link" href="/login">Login</a>
        <% } else { %>
        <a class="nav-link" href="/createTodo">Create Todo</a>
        <a class="nav-link" href="/shareTodo">Share</a>
        <a class="nav-link" href="/youShared">You shared</a>
        <a class="nav-link" href="/theyShared">They shared</a>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
